.gallery {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: var(--image-border-radius);
    overflow: hidden;
}

.row {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
}

.row img {
    object-fit: cover;
    width: 100%;
    height: inherit;
}

@media (min-width: 900px) {
    .row1 {
        height: 350px;
        grid-template-columns: 3fr 2fr;
    }
    
    .row2 {
        height: 300px;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1200px) {
    .row1 {
        height: 500px;
        grid-template-columns: 3fr 2fr;
    }
    
    .row2 {
        height: 400px;
        grid-template-columns: 1fr 1fr 1fr;
    }
}